<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <h2>Welcome to confbuddy.com, <%= @user.first_name %></h2>

    <p>
      You decide to be matched to a buddy for the day of the conference.
      You've been paired with <%= @buddy.first_name %>
      for the event <h3><%= @event.name %></h3> on <%= @event.time %>.


      You are able to get a free meal at the Food Court on the day of
      the conference with your buddy, so you will have
      the chance to talk and exchange opinions about different topics.
    </p>

    <p>
      Present this code to get your free meal:<br>

      <%= image_tag attachments['qr.png'].url %>
    </p>

    <p>
      Thanks for joining and have a great day!
    </p>
  </body>
</html>
