<!DOCTYPE html>
<html>
<head>
  <title>Group</title>
  <link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <nav class="navbar-fixed white" role="navigation">
      <div class="nav-wrapper container">
        <!-- <a id="logo-container" href="#" class="brand-logo">Logo</a> -->
        <ul class="right hide-on-med-and-down">
          <li><a href="/">Home</a></li>
<!-- -          <li><a href="#">About</a></li> -->
          <% if !logged_in? %>
          <li><a href="/signup">Register</a></li>
          <li><a href="/events">Events</a></li>
          <li><a href="#modal-login" class="modal-trigger">Login</a></li>

          <% end %>
          <% if logged_in? %>
            <li>
              <form action="/sessions" method="post" id="my_form">
                <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                <input type="hidden" value="delete" name="_method">
                 <a href="javascript:{}" onclick="document.getElementById('my_form').submit();">Log Out</a>
              </form>
            </li>
            <li><a href="/users/<%= current_user.id %>">Profile</a></li>
            <li><a href="/events">Events</a></li>
          <% end%>
        </ul>

        <ul id="nav-mobile" class="side-nav">
          <% if !logged_in? %>
          <li><a href="/signup">Register</a></li>
          <li><a href="/events">Events</a></li>
          <li><a href="#modal-login" class="modal-trigger">Login</a></li>

          <% end %>

          <% if logged_in? %>
          <li>
            <form action="/sessions" method="post">
              <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
              <input type="hidden" value="delete" name="_method">
              <a>Log out</a>
            </form>
          </li>
            <li><a href="/users/<%= current_user.id %>">Profile</a></li>
            <li><a href="/events">Events</a></li>
            <li><a href="/">Confbuddy</a></li>
            <li><a href="#schedule" class="scroll">Schedule</a></li>
          <% end%>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">reorder</i></a>
      </div>
    </nav>

<%= yield %>

 <!-- Modal Structure -->
 <div id="modal-login" class="modal">
    <form class="login-modal-content modal-content" action="/sessions" method="post">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <input type="text" name="email" placeholder="Email Address">
      <input type="password" name="password" placeholder="Password">
      <button class=" modal-action modal-close waves-effect waves-green btn-flat">Log In</button>
    </form>

 </div>

 <script>
 showCards();
 showCards2();
 $('.button-collapse').sideNav();
 </script>
</body>
</html>
